body{
    background:whitesmoke;
    color:black;
    text-align: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin: auto;
    width:70%;
    padding-top: 25%;
    padding-bottom: 50%;


}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;

}
p{
    width: 60%;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;

}

.example_image{
    width: 50%;
    height: auto;
    padding-bottom: 50px;
    margin: auto;

}
